.sectionBody{
    width: 100%;
    height: auto;
    background: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 100px;
  }  
.backgroundBromo{
    width: 100%;
    height: 500px;
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }  
  .diskon {
    background: white;
    box-shadow: 1px 1px 7px black;
    margin-top: -150px;
    margin-bottom: 50px;
    z-index: 0;
  }  
  .diskon:hover {
    cursor: pointer;
  }      
.kartu:hover{
    cursor: pointer;
    transform: scale(1.1);
  }   
.kartu{
    box-shadow: 3px 3px 10px grey;
    height: 250px;
    width: 500px;
    transition: 0.3s;
  }

.info{
  margin-bottom: 30px;
}
  .htiket{
  font-size: 30px;
  margin-top:50px;
  margin-bottom: 100px;
  }
  .h1Bromo{
    color: white;
    text-shadow: 1px 1px 7px black;
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .pBromo{
    color: white;
    margin-top: 15px;
  }  

/*handphone*/
@media screen and (max-width: 600px) {
    
    .sectionBody{
      margin-top: -5px;
    }
    .diskon {
      margin-top: -10px;
      text-align: center;
      width: 300px;
      margin-left: 50px;
      margin-bottom: 200px;
    }
    .kartu{
      width: 300px;
      margin-left: 60px;
    }
    .info{
      margin-left: 100px;
    }
    .htiket{
      margin-left: 100px;
    }
    .ptext{
      width: 150px;
      text-align: center;
      margin-left: 60px;
    }
    .h1Bromo{
      margin-left: 120px;
      font-size: 20px;
    }
    .pBromo{
      text-align: center;
      width: 400px;
      margin-left: 60px;
    }

  }
  /*tablet big*/
  @media screen and (min-width: 600px) {
    .sectionBody{
      margin-top:50px;
      padding-left: 100px;
    }
    .diskon {
      width: 450px;
      text-align: center;
    }
    .info{
      margin-left: 150px;
    }
    .htiket{
      margin-left: 150px;
    }
    .ptext{
      width: 300px;
      text-align: center;
    }
    .h1Bromo{
      margin-left: 190px;
      font-size: 25px;
    }
    .pBromo{
      text-align: center;
      width: 500px;
      margin-left: 100px;
    }
  }
  /*tablet big*/
  @media screen and (min-width: 768px) {
    .sectionBody{
      margin-top: 170px;
    }
    .diskon {
      text-align: left;
      height: 140px;
      padding-top: 20px;
      padding-left: 30px;      
    }
    .htiket{
      margin-left: 300px;
    }
    .info{
      margin-left: 30px;
    }
    .ptext{
      width: 200px;
      text-align: center;
    }
    .h1Bromo{
      margin-left: 300px;
    }
    
    .pBromo{
      text-align: center;
      width: 700px;
      margin-left: 90px;
    }
    
  }
  /*laptop small*/
  @media screen and (min-width: 992px) {
    .sectionBody{
      margin-top: 160px;
    }
    .htiket{
      margin-left: 500px;
    }
    .ptext{
      margin-left: 50px;
    }
    .h1Bromo{
      margin-left: 400px;
      font-size: 40px;
    }
    
    .pBromo{
      text-align: center;
      width: 600px;
      margin-left: 350px;
    }
    .diskon {
      height: 120px;
    }
    
  }
  
  
  
  
  
  