.footer{
    color:#a8c0e6;
    background: #1b2330;
    text-align: left;
    font-size: 15px;
    height: 280px;
  }
.sectionFooter{
    width: 100%;
    background: #1b2330;
    margin-top: 100px;
  }
.footerKanan{
    color:#a8c0e6;
    background: #1b2330;
    text-align: left;
    font-size: 20px;
    height: 280px;
    margin-top: 30px;
  }  
  li{
    color:#e5e5e5;
  }  

/*handphone*/
  @media screen and (max-width: 600px) {
    .footer{
      text-align: center;
      margin-bottom: -100px;
    }
    .sectionFooter{
      height: 1000px;
    }
    .footerKanan{
      width: 400px;
      text-align: center;
      margin-left: 50px;
      margin-top: 100px;
    }
    .sosmed{
      font-size: 30px;
      margin-right: 50px;
      margin-left: 50px;
      margin-bottom: 30px;
      margin-top: 20px;
      
    }
  }
  /*tablet small*/
  @media screen and (min-width: 600px) {
    .footer{
      text-align: center;
      margin-bottom: -100px;
    }
    .sectionFooter{
      height: 1000px;
    }
    .footerKanan{
      font-size: 15px;
      text-align: center;
      width: 500px;
      margin-left: 100px;
      margin-top: 30px;
    }
    .sosmed{
      font-size: 30px;
      margin-right: 50px;
      margin-left: 50px;
      margin-bottom: 30px;
      margin-top: 20px;
      
    }
  }
  /*tablet big*/
  @media screen and (min-width: 768px) {
    .footer{
      text-align: left;
    }
    
    .sectionFooter{
      height: 500px;
      padding-left: 50px;
    }
    .sosmed{
      font-size: 30px;
      margin-left: 0px;
      margin-bottom: 30px;
      margin-top: 20px;
    }
    .footerKanan{
      font-size: 13px;
      
    }
    
  }
  /*laptop small*/
  @media screen and (min-width: 992px) {
    .footer{
      text-align: left;
      margin-bottom: 0px;
    }
    .sectionFooter{
      height: 450px;
    }
    .sosmed{
      font-size: 30px;
      margin-left: 50px;
      margin-bottom: 30px;
      margin-top: 20px;
    }
    .footerKanan{
      font-size: 15px;
      margin-top: 30px;
    }
  }
  
  
  
  
  
  
  
    