
nav {
    box-shadow: 2px 4px 7px -1px rgba(0,0,0,0.28);
    
}
.logo {
    width:112px;
    padding-top: 5px;
    padding-bottom: -5px;
    height: 60px;
}    
.navMenu {
    background:#d84f57;
    margin-top:-10px;
    padding-left:300px;
}
.navMenu span {
    color: white;
}
.navEnd {
    background-color: #d84f57;
    padding-left:170px;
    padding-bottom: 10px;
}
.logoAkun {
    margin-top: 10px;
    margin-left: 20px;
    width:112px;
    height: 45px;
}

.dropdownProfile{
    border-radius:0;
    width:130px;
    margin-top: -10px;
    margin-left: 100px;
  }

.login button {
    background: #d84f57;
    border-radius: 0;
    color:white;
}  
.login img {
    height: 30px;
}
.login header {
    background:#d84f57;
    border-radius: 0px;
    padding: 30px;
    padding-left: 200px;
}  
.login p {
    color: white;
}
.registrasi header {
    background:#d84f57;
    border-radius: 0px;
    padding: 10px;
    padding-left: 200px;
    
}
.registrasi img {
    height: 30px;
}
.registrasi header p {
    color: white;
}
.registrasi button {
    background: #d84f57;
    color: white;
    border:0;
    border-radius: 0;
}


    
/*handphone*/
@media screen and (max-width: 600px) {
    .navMenu span {
        margin-left:-250px;
        text-align: center;
    }
    .dropdownProfile{
        margin-top: -100px;
        margin-left: 20px;
      }
      .navEnd {
        padding-left:200px;
    }
    
  }
  /*tablet big*/
  @media screen and (min-width: 600px) {
    .navMenu span {
        margin-left:-250px;
        text-align: center;
    }
    .dropdownProfile{
        margin-top: -100px;
        margin-left: 20px;
      }
    .navEnd {
        padding-left:350px;
    }
    
  }
  /*tablet big*/
  @media screen and (min-width: 768px) {
    .navMenu span {
        margin-left:-250px;
        text-align: center;
    }
    .dropdownProfile{
        margin-top: -100px;
        margin-left: 20px;
      }
    .navEnd {
        padding-left:100px;
    }
    
  }
  /*laptop small*/
  @media screen and (min-width: 992px) {
    .navMenu span {
        margin-left:40px;
        text-align: center;
    }
    .dropdownProfile{
        margin-top: -10px;
        margin-left: 60px;
      }
    .navEnd{
        padding-left:0px;
    }
    
  }
  
  
  
  
  
  