
.busType button {
    border-radius: 0px;
    height: 50px;
    width: 200px;
  }
.departure input {
  height: 50px;
  width: 200px; 
  color: #757575;
  border-radius: 0px; 
}  
.buttonSearch {
  width: 100px;
  height: 50px; 
  background: #d84f57; 
  border: none; 
  border-radius: 0;
  color: white;
  font-size: 15px;
}



@media screen and (max-width: 600px) {
  .departure {
    margin-top: -27px;
  }
  .buttonSearch {
    margin-top: -24px;
    width: 200px;
  }
  
} 

@media screen and (min-width: 600px) {
   
  .departure {
    margin-top: -24px; 
  }
  .buttonSearch {
    width: 200px;
    margin-top: -24px;
  }
}  

/*tablet big*/
@media screen and (min-width: 768px) {
  .departure {
    margin-top: 49px;
    margin-left: -151px; 
  }
  .buttonSearch {
    margin-left: -500px;
    margin-top:100px;
    width: 395px;
  }
  

}
/*laptop small*/
@media screen and (min-width: 992px) {
  .dbus {
  }
  .departure {
    margin-top: 0px;
    margin-left: -30px; 
  }
  .buttonSearch {
    margin-left: -60px;
    margin-top:0px;
    width: 100px;
  }
}






