.background{
    height: 400px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }
.search{
    margin-top: 10px;
  } 
.date {
  
}  
.judul{
    padding-top: 130px;
    font-size:35px;
    color:white;
    text-shadow:1px 1px 7px black;
  }

  @media screen and (max-width: 600px) {
    .judul{
      font-size: 20px;
      margin-top: -50px;
      width: 200px;
      margin-left: 100px;
    }
    .search{
      margin-left: 100px;
      margin-top: -24px;
    }
    .date {
      margin-left: 100px;
    }
    .background {
      height: 500px;
    }
    
  } 

@media screen and (min-width: 600px) {
  .search {
    margin-left: 200px;
    margin-top: -24px;
  }  
  .judul{
    font-size: 20px;
    margin-top: -30px;
    width: 500px;
    text-align: center;
    margin-left: 100px;
  }
  .date {
    margin-left: 200px;
    width: 10px;
  }
  .background {
    height: 530px;
  }
}  

/*tablet big*/
@media screen and (min-width: 768px) {
  
  .background {
    height: 530px;
  }
  .date {
    margin-left: 150px;
  }
  .judul{
    font-size: 20px;
    margin-top: -30px;
    width: 500px;
    text-align: center;
    margin-left: 0px;
  }
  .search {
    margin-left: -105px;
    margin-top: 10px;
  } 
}
/*laptop small*/
@media screen and (min-width: 992px) {
  .background {
    height: 530px;
  }
  .judul{
    font-size: 30px;
    margin-top: 30px;
    width: 600px;
    text-align: center;
    margin-left: 0px;
  }
  .search {
    margin-left: -60px;
  }
}






 