.dari {
    margin-top: 70px;
    border: solid 1px #dddddd;
    height: 100px;
    padding-left: 30px;
    padding-top: 20px;
    width: 100%;
    background-color: white;
}
.ke {
    margin-top: 70px;
    border: solid 1px #dddddd;
    height: 100px;
    background-color: #f8f4f4;
    padding-top: 20px;
    width: 100%;
}
.bus {
    height: 100px;
    border: solid 1px #dddddd;
    margin-left: 0px;
    margin-top: 20px;
}
.bus:hover {
    box-shadow: 1px 6px 20px grey;
    cursor: pointer;
    transition: 0.7s;
}
.menu {
    margin-left:30px;
}
.menu li {
    margin-left: 10px;
}
.menu span {
    margin-right: 10px;
    margin-bottom: 5px;
}